---
import "../styles/global.css";
import "../styles/layout.css";
import "../styles/projects.css";
import "../styles/misc.css";
import "../styles/projects.css";
import "../styles/floating.css";
import themeUrl from "../scripts/theme.js?url";
import crtUrl from "../scripts/crtOverlay.js?url";
import particlesUrl from "../scripts/particles.js?url";
const { title = 'Zachary Hoffman', description = 'Portfolio website' } = Astro.props;
---
<html style="color: var(--backgroundColor)" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/images/icons/codeLightBlue.ico" />
    <script is:inline>
      if (localStorage.getItem('themeName')) {
        document.documentElement.setAttribute('data-theme', localStorage.getItem('themeName'));
      }
    </script>
  </head>
  <body>
    <slot />
    <div id="crtOverlay"></div>
        <script type="module" src={themeUrl} defer></script>
        <script type="module" src={crtUrl} defer></script>
    <script type="module" src={particlesUrl} defer></script>
      </body>
  
</html>


